.product{
    font-family: 'Lato';
    height: 508px;
    width: 300px;
    border: 1px solid #95A0A7;
    position: relative;
    border-radius: 8px;
    margin-right: 35px;
    margin-bottom: 25px;
}
.product-details{
    margin: 0 14px;
}
.product-details p{
    margin-bottom: 0px;
    margin-top: 6px;
}
.product img{
    height: 286px;
    width: 286px;
    border-radius: 8px;
    margin: 7px; 
}
.product-name{
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #0E161A;
} 
.btn-cart{
    position: absolute;
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 4px;
}
.btn-cart:hover{
    background-color: orange;
}